body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(222, 41, 177);
    padding:10px;
    margin: 0;
}
h1{
    color: aliceblue;
    font-size: 6vw;
    font-style: italic;
}
.cameracontainer{
    display: inline-block;
    position: relative;
    margin-top: 10px;
    width: 100%;
    max-width: 640px;
}
video,canvas{
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    border: 3px solid rgb(219, 149, 185);
    background-color: black;
}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 2;
}
.controls{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
select,button,a{
    width: 90%;
    max-width: 300px;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background: #a5839b;
    color: aliceblue;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover,select:hover,a:hover{
    background: #5c324f;
}
a{
    text-decoration: none;
}
